Welcome to my site!

<h2> Starters </h2>
<% @products.each do |product| %>
  <% if product.category == 'Starter' %>
    <div id='product-<%= product.id %>'>
      <h1>
        <%= "#{product.name} - #{product.price} kr" %>
      </h1>
      <p>
        <%= product.description %>
      </p>
      <form action="/order_create" method="post">
        <input type="hidden" name="product-id" value="<%= product.id %>"/>
        <input type="submit" value="Order"/>
      </form>
    </div>
  <% end %>
<% end %>

<h2> Main </h2>
<% @products.each do |product| %>
  <% if product.category == 'Main' %>
    <div id='product-<%= product.id %>'>
      <h1>
        <%= "#{product.name} - #{product.price} kr" %>
      </h1>
      <p>
        <%= product.description %>
      </p>
      <form action="/order_create" method="post">
        <input type="hidden" name="product-id" value="<%= product.id %>"/>
        <input type="submit" value="Order"/>
      </form>
    </div>
  <% end %>
<% end %>


<h2> Dessert </h2>
<% @products.each do |product| %>
  <% if product.category == 'Dessert' %>
    <div id='product-<%= product.id %>'>
      <h1>
        <%= "#{product.name} - #{product.price} kr" %>
      </h1>
      <p>
        <%= product.description %>
      </p>
      <form action="/order_create" method="post">
        <input type="hidden" name="product-id" value="<%=product.id%>"/>
        <input type="submit" value="Order"/>
      </form>
    </div>
  <% end %>
<% end %>
