<h1> Starters </h1>
<% @products.each do |product| %>
  <% if product.category == 'Starter' %>
    <div id="product-<%= product.id %>">
      <h2>
        <%= "#{product.name} - #{product.price} kr"%>
      </h2>
      <p>
        <%= "#{product.description}" %>
      </p>
      <form action="/order_create" method="post">
        <input type="hidden" name="product-id" value="<%= product.id%>"/>
        <input type="submit" value="Order"/>
      </form>
    </div>
  <% end %>
<% end %>

<h1> Main </h1>
<% @products.each do |product| %>
  <% if product.category == 'Main' %>
    <div id="product-<%= product.id %>">
      <h2>
        <%= "#{product.name} - #{product.price} kr"%>
      </h2>
      <p>
        <%= "#{product.description}" %>
      </p>
      <form action="/order_create" method="post">
        <input type="hidden" name="product-id" value="<%= product.id%>"/>
        <input type="submit" value="Order"/>
      </form>
    </div>
  <% end %>
<% end %>
      
<h1> Dessert </h1>
<% @products.each do |product| %>
  <% if product.category == 'Dessert' %>
    <div id="product-<%= product.id %>">
      <h2>
        <%= "#{product.name} - #{product.price} kr"%>
      </h2>
      <p>
        <%= "#{product.description}" %>
      </p>
      <form action="/order_create" method="post">
        <input type="hidden" name="product-id" value="<%= product.id%>"/>
        <input type="submit" value="Order"/>
      </form>
    </div>
  <% end %>
<% end %>
